*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
background-color: #ECE5DD;
position: relative;

}

.App{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo-container{
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}


.logo{
    height: 200px;
}

.principal-container{
    min-width:550px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}