*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
 background-color: #ECE5DD;

}

.App{
    display: flex;
    flex:wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo{
    height: 300px;
}